.about {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    a {
        color: $limeGreen;
         transition: all 300ms ease-in-out;
         &:hover {
             color: $brightCyan;
         }
         }
    .homeLink { font-family: 'Mate SC', serif; }
}

@media (min-height: 710px) {
    .bottom {
        position: absolute;
        width: 100vw;
        bottom: 0;
    }
}