.resume1 {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    .MuiSvgIcon-root {
        margin-right: 2rem;
    }
    h2 {
        font-weight: 500;
        margin-top: 0px;
    }

    .LeftSide {
        display: flex;
        flex-direction: column;
        &__top {
            background: #737cbf;
            padding: 25px;

            .top {
                margin: 0px 0px 10px;
                border-bottom: 1.5px solid $darkBlue;
                h1{
                    margin: 0px;
                }
                p {
                    margin: 5px 0px 3px;
                }
            }
            .contacts {
                display: flex;
                flex-direction: column;

                .links {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0;
                        text-decoration: none;
                        color: black;
                    }

                    &:not(:last-child) {
                        margin-bottom: 11px;
                    }
                }
            }
        }

        &__bottom {
            background: #737cbfb4;
            padding: 25px;
        }
    }

    .RightSide {
        display: flex;
        flex-direction: column;
        &__top {
            background: #737cbf81;
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__bottom {
            background: $white;
            padding: 25px;
        }
    }
}

.resume2 {
    font-family: 'Baloo Tammudu 2', cursive;
    display: flex;
    align-items: flex-start;
    h2 {
        border-bottom: 1px solid $grayishBlue;
    }
    .LeftSide {
        padding: 25px;
        background: #c57001;
        .top {
            border-bottom: 1px solid $grayishBlue;
            h1 {
                margin: 0px
            }
            p{
                margin: 7px 0px 0px
            }
        }
        .links {
            display: flex;
            align-items: center;
            p {
                margin-left: 10px;
            }
        }
    }
    .RightSide {
        padding: 25px;
    }
}

.resume3 {
    font-family: 'Poppins', sans-serif;
    color: $white;
    background: $white;
}
.Resumetop {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
        background: $brightCyan;
        display: flex;
        padding: 18px 40px;
        margin: 24px;
        flex-direction: column;
        align-items: center;
        h1 {margin: 0px}
        p {margin: 13px 0px 0px;}
    }
}
.Resumebottom {
    display: grid;
    grid-template-columns: 40% 60%;
    .leftSide {
        background: $brightCyan;
        h3 {
            border: 1px solid #ffffff;
            padding: 6px 18px;
        }
        p, li {
            padding: 0px 18px;
        }
        .links {
            display: flex;
            align-items: center;
            .MuiSvgIcon-root {
                margin: 0px 10px 0px 18px;
            }
            p {
                padding: 0px 18px 0px 0px;
            }
        }
    }
    .rightSide {
        color: #000000;
        padding: 7px 18px;
    }
}

.resume4 {
    font-family: 'Roboto', sans-serif;
    .Resumetop{background-color: #000000;
        background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");}
    .content, .leftSide {
        background: $limeGreen;
    }
}