.resumes {
    padding:0px 35px;
    font-family: 'Montserrat', sans-serif;
    background: $veryLightGray;
    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 2%;
        h1 {
            color: $darkBlue;
        }

        span {
            font-weight: bold;
        }
    }
    
    .filterTab {
        display: flex;
        justify-content: space-between;

        .filterTitle {
            color: $darkBlue;
            font-weight: 500;
        }

        .dropDown {
            &__texts {
                display: flex;
                align-items: center;
            }

            .filter__texts {
                display: flex;
                align-items: center;
            }
        }
    }
}

.ResumeLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 36px 21px;
    img {
        height: 67vw;
    }
    a {
        &:not(:first-child){
            margin-top: 15px;
        }
    }
}

.colorpicker {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 35px;
    background: $veryLightGray;
    div {
        display: block;
        width: 70px;
        border-radius: 5px;
        height: 23px;
    }
    .lightPurple {
        border: 1px solid black;
        background-color: #737cbf;
    }
    .DarkBlue {
        background-color: rgb(21, 145, 247);
    }
    .LimeGreen {
        background-color: hsl(136, 65%, 51%);;
    }
    .Orangeish {
        background-color: rgb(240, 174, 34);
    }
    .Blackish {
        background-color: rgb(10, 1, 24);
    }
    .Pinkish {
        background-color: rgb(210, 30, 84);
    }
    .Purpleish {
        background-color: rgb(90, 1, 112);
    }
    .BrightCyan {
        background-color: $brightCyan;
    }
}

@media (min-width: 992px) {
    .resumes {
        .top {
            padding: 0px 25%;
        }
    }
    .ResumeLists{
        flex-direction: row;
        align-items: center;
        img {
            height: 40vw;
        }
    }
}

@media (max-width: 320px) {
    .resumes {
        .top {
            h1 {
                font-size: 26px;
            }
            p {
                font-size: 15px;
            }
        }
    }
}