@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  background: white;
  padding: 5px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
}

nav .logo {
  color: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  height: 60px;
}

nav .logo p {
  margin-left: 13px;
  font-family: 'Mate SC', serif;
  font-weight: 600;
  font-size: 24px;
}

nav .nav__links {
  display: none;
}

nav .nav__links a {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #9698a6;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
}

nav .nav__links a:not(:last-child) {
  margin-right: 40px;
}

nav .nav__links a::before {
  content: "";
  opacity: 0;
  border-radius: 25px;
  top: 27px;
  height: 4px;
  width: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  display: block;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .nav__links a:hover {
  color: #2d314d;
}

nav .nav__links a:hover::before {
  opacity: 1;
}

nav .pro {
  cursor: pointer;
  display: none;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .pro:hover {
  opacity: 0.6;
}

nav #hamburger {
  cursor: pointer;
}

nav #hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

nav #hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.proAlert {
  z-index: 2;
  font-family: 'Nunito', sans-serif;
  position: fixed;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  color: #404040;
  padding: 6% 3%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proAlert p {
  margin: 0;
}

#App h1 {
  font-weight: 500;
}

#App.visibleBurger #hamburger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#App.visibleBurger #hamburger > span:nth-child(2) {
  opacity: 0;
}

#App.visibleBurger #hamburger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#App.visibleBurger .home {
  position: relative;
}

#App.visibleBurger .home .main {
  opacity: 0.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background-image: linear-gradient(to bottom, #2d314d, #f3f4f6);
}

#App.visibleBurger .resumes, #App.visibleBurger .editor {
  opacity: 0.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background-image: linear-gradient(to bottom, #2d314d, #f3f4f6);
}

#App-header.Alert .home {
  position: relative;
}

#App-header.Alert .home .main {
  opacity: 0.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background-image: linear-gradient(to bottom, #2d314d, #f3f4f6);
}

#App-header.Alert .resumes, #App-header.Alert .editor {
  opacity: 0.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background-image: linear-gradient(to bottom, #2d314d, #f3f4f6);
}

#App-header.Alert .printResume {
  opacity: 0.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background-image: linear-gradient(to bottom, #2d314d, #f3f4f6);
}

.mobileLinks {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 48px 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 10px;
}

.mobileLinks a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #2d314d;
  font-weight: 700;
  font-size: 25px;
}

.mobileLinks a:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  nav {
    padding: 5px 35px;
  }
  nav #hamburger {
    display: none;
  }
  nav .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .pro {
    display: block;
  }
  .mobileLinks {
    display: none;
  }
}

.pro {
  border: none;
}

.main {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  display: block;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 35px;
}

.main__texts h1 {
  color: #2d314d;
}

.main__texts p {
  color: #9698a6;
  font-size: 18px;
  margin-bottom: 37px;
}

.main__texts .pro {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main__texts .pro:hover {
  opacity: 0.6;
}

.main img {
  height: 28rem;
}

.darker {
  background: #f3f4f6;
}

@media (min-width: 992px) {
  .main {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 673px) {
  .main img {
    height: 58vw;
  }
}

.resumes {
  padding: 0px 35px;
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
}

.resumes .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 2%;
}

.resumes .top h1 {
  color: #2d314d;
}

.resumes .top span {
  font-weight: bold;
}

.resumes .filterTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resumes .filterTab .filterTitle {
  color: #2d314d;
  font-weight: 500;
}

.resumes .filterTab .dropDown__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resumes .filterTab .dropDown .filter__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ResumeLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 36px 21px;
}

.ResumeLists img {
  height: 67vw;
  width: 73vw;
}

.ResumeLists a:not(:first-child) {
  margin-top: 15px;
}

.colorpicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 35px;
  background: #fafafa;
}

.colorpicker div {
  display: block;
  width: 70px;
  border-radius: 5px;
  height: 23px;
}

.colorpicker .lightPurple {
  border: 1px solid black;
  background-color: #737cbf;
}

.colorpicker .DarkBlue {
  background-color: #1591f7;
}

.colorpicker .LimeGreen {
  background-color: #31d35c;
}

.colorpicker .Orangeish {
  background-color: #f0ae22;
}

.colorpicker .Blackish {
  background-color: #0a0118;
}

.colorpicker .Pinkish {
  background-color: #d21e54;
}

.colorpicker .Purpleish {
  background-color: #5a0170;
}

.colorpicker .BrightCyan {
  background-color: #2bb7da;
}

.prolinks .MuiSvgIcon-root {
  position: absolute;
  color: black;
}

@media (min-width: 992px) {
  .resumes .top {
    padding: 0px 25%;
  }
  .ResumeLists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .ResumeLists img {
    height: 40vw;
    width: 40vw;
  }
}

@media (max-width: 320px) {
  .resumes .top h1 {
    font-size: 26px;
  }
  .resumes .top p {
    font-size: 15px;
  }
}

.resume1 {
  font-family: 'Public Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume1 .MuiSvgIcon-root {
  margin-right: 0.5rem;
}

.resume1 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume1 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume1 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume1 .LeftSide__top .top {
  margin: 0px 0px 10px;
  border-bottom: 1.5px solid #2d314d;
}

.resume1 .LeftSide__top .top h1 {
  margin: 0px;
}

.resume1 .LeftSide__top .top p {
  margin: 5px 0px 3px;
}

.resume1 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume1 .LeftSide__top .contacts .links {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume1 .LeftSide__top .contacts .links p {
  margin: 0;
  text-decoration: none;
  color: black;
}

.resume1 .LeftSide__bottom {
  background: #737cbfb4;
  padding: 25px;
}

.resume1 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume1 .RightSide__top {
  background: #737cbf81;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume1 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume2 {
  font-family: 'Baloo Tammudu 2', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.resume2 h2 {
  border-bottom: 1px solid #9698a6;
}

.resume2 .LeftSide {
  padding: 25px;
  background: #c57001;
}

.resume2 .LeftSide .top {
  border-bottom: 1px solid #9698a6;
}

.resume2 .LeftSide .top h1 {
  margin: 0px;
}

.resume2 .LeftSide .top p {
  margin: 7px 0px 0px;
}

.resume2 .LeftSide .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
}

.resume2 .LeftSide .links p {
  margin-left: 10px;
}

.resume2 .RightSide {
  padding: 25px;
}

.resume3 {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: white;
}

.Resumetop {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Resumetop .content {
  background: #2bb7da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 40px;
  margin: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Resumetop .content h1 {
  margin: 0px;
}

.Resumetop .content p {
  margin: 13px 0px 0px;
}

.Resumebottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.Resumebottom .leftSide {
  background: #2bb7da;
}

.Resumebottom .leftSide h3 {
  border: 1px solid #ffffff;
  padding: 6px 18px;
}

.Resumebottom .leftSide p, .Resumebottom .leftSide li {
  padding: 0px 18px;
}

.Resumebottom .leftSide .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
}

.Resumebottom .leftSide .links .MuiSvgIcon-root {
  margin: 0px 10px 0px 18px;
}

.Resumebottom .leftSide .links p {
  padding: 0px 18px 0px 0px;
}

.Resumebottom .rightSide {
  color: #000000;
  padding: 7px 18px;
}

.resume4 {
  font-family: 'Roboto', sans-serif;
}

.resume4 .Resumetop {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}

.resume4 .content, .resume4 .leftSide {
  background: #31d35c;
}

.editor {
  font-family: 'Montserrat', sans-serif;
  padding: 35px 28px;
}

.editor button {
  background: #737cbf;
  margin-right: 10px;
  border: none;
  width: 41px;
  height: 41px;
  cursor: pointer;
  outline: none;
}

.editor button:hover {
  color: white;
  background: #737cbf;
}

.editor .hint {
  margin-bottom: 43px;
}

.editor .hint h2, .editor .hint h3, .editor .hint em {
  font-weight: 400;
  margin: 10px 0px;
}

.editor .hint h2 {
  font-weight: 500;
  color: #737cbf;
}

.resumeEditor {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 2rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resumeEditor .inputDiv .newInput {
  margin-top: 24px;
}

.resumeEditor .inputDiv .FS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resumeEditor .inputDiv .label {
  font-weight: 500;
  margin: 0px 0px 3px 0px;
}

.resumeEditor .inputDiv input, .resumeEditor .inputDiv textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  border-radius: 2px;
  outline: none;
  border: 0.5px solid #9698a6;
}

.resumeEditor .inputDiv input:focus, .resumeEditor .inputDiv textarea:focus {
  border: 0.5px solid #2d314d;
}

.resumeEditor .inputDiv input {
  height: 2rem;
  width: 21vw;
}

.resumeEditor .inputDiv textarea {
  height: 6rem;
  width: 44vw;
}

.resumeEditor .inputDiv .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resumeEditor .inputDiv .Linkform .Linkinput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resumeEditor .inputDiv .Linkform .Linkinput .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.resumeEditor .inputDiv .options {
  margin-top: 4px;
}

.resumeEditor .inputDiv .options p {
  margin: 0px;
}

.resumeEditor .inputDiv .options p:not(:first-child) {
  margin-top: 11px;
}

.resumeEditor .resumeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resumeEditor button {
  margin-top: 50px;
}

.resumeEditor .resume .resume1 {
  font-size: 90%;
}

.resumeEditor .resume .links p {
  font-size: 90%;
}

.resumeEditor .resume .links .MuiSvgIcon-root {
  height: 10vw;
}

@media (max-width: 993px) {
  .editor .resumeEditor .inputDiv input {
    width: 42vw;
  }
}

.printResume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 430px) {
  .printResume .resume1, .printResume .resume2, .printResume .resume3, .printResume .resume4 {
    font-size: 50%;
  }
  .printResume .resume1 .MuiSvgIcon-root, .printResume .resume2 .MuiSvgIcon-root, .printResume .resume3 .MuiSvgIcon-root, .printResume .resume4 .MuiSvgIcon-root {
    margin-right: 7px;
    width: 5vw;
  }
}

.printResume .resume2 h1 {
  height: 4vh;
}

.printResume .resume2 p {
  height: 31px;
}

.printResume .resume2 .links p {
  height: 21px;
}

@media (min-height: 980px) {
  .footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
}

@media (max-width: 998px) {
  .resumeEditor {
    display: block;
  }
}

@media (max-width: 375px) {
  .editor {
    font-size: 78%;
  }
  .editor .resumeEditor .inputDiv input {
    font-size: 100%;
  }
}

.about {
  font-family: 'Montserrat', sans-serif;
  padding: 5px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
}

.about a {
  color: #31d35c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.about a:hover {
  color: #2bb7da;
}

.about .homeLink {
  font-family: 'Mate SC', serif;
}

@media (min-height: 710px) {
  .bottom {
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
}

.footer {
  font-family: 'Montserrat', sans-serif;
  color: #9698a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2d314d;
  padding: 5px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  text-decoration: none;
}

.footer .logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo img {
  height: 60px;
}

.footer .logo p {
  margin-left: 13px;
  font-family: 'Mate SC', serif;
  font-weight: 600;
  font-size: 24px;
}

.footer__links {
  margin: 14px;
}

.footer__links a {
  color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer__links a:not(:last-child) {
  margin-right: 15px;
}

.footer__links a:hover {
  color: #31d35c;
}

.footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pro {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.pro:hover {
  opacity: 0.6;
}

@media (min-width: 992px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */