@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300;400;500;600&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  background: white;
  padding: 5px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
}

nav .logo {
  color: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  height: 60px;
}

nav .logo p {
  margin-left: 13px;
  font-family: 'Mate SC', serif;
  font-weight: 600;
  font-size: 24px;
}

nav .nav__links {
  display: none;
}

nav .nav__links a {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #9698a6;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
}

nav .nav__links a:not(:last-child) {
  margin-right: 40px;
}

nav .nav__links a::before {
  content: "";
  opacity: 0;
  border-radius: 25px;
  top: 27px;
  height: 4px;
  width: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  display: block;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .nav__links a:hover {
  color: #2d314d;
}

nav .nav__links a:hover::before {
  opacity: 1;
}

nav .pro {
  display: none;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .pro:hover {
  opacity: 0.6;
}

nav #hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

nav #hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

#App h1 {
  font-weight: 500;
}

#App.visibleBurger #hamburger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#App.visibleBurger #hamburger > span:nth-child(2) {
  opacity: 0;
}

#App.visibleBurger #hamburger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#App.visibleBurger .home {
  position: relative;
}

#App.visibleBurger .home .main {
  opacity: 0.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background-image: linear-gradient(to bottom, #2d314d, #f3f4f6);
}

#App.visibleBurger .resumes {
  opacity: 0.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background-image: linear-gradient(to bottom, #2d314d, #f3f4f6);
}

.mobileLinks {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 48px 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 10px;
}

.mobileLinks a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #2d314d;
  font-weight: 700;
  font-size: 25px;
}

.mobileLinks a:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  nav {
    padding: 5px 35px;
  }
  nav #hamburger {
    display: none;
  }
  nav .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .pro {
    display: block;
  }
  .mobileLinks {
    display: none;
  }
}

.main {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  display: block;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 35px;
}

.main__texts h1 {
  color: #2d314d;
}

.main__texts p {
  color: #9698a6;
  font-size: 18px;
  margin-bottom: 37px;
}

.main__texts .pro {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main__texts .pro:hover {
  opacity: 0.6;
}

.main img {
  height: 28rem;
}

.darker {
  background: #f3f4f6;
}

@media (min-width: 992px) {
  .main {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 673px) {
  .main img {
    height: 58vw;
  }
}

.resumes {
  padding: 0px 35px;
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
}

.resumes .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 2%;
}

.resumes .top h1 {
  color: #2d314d;
}

.resumes .top span {
  font-weight: bold;
}

.resumes .filterTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resumes .filterTab .filterTitle {
  color: #2d314d;
  font-weight: 500;
}

.resumes .filterTab .dropDown__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resumes .filterTab .dropDown .filter__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ResumeLists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 36px 21px;
}

.colorpicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 35px;
  background: #fafafa;
}

.colorpicker div {
  display: block;
  width: 70px;
  border-radius: 5px;
  height: 23px;
}

.colorpicker .lightPurple {
  border: 1px solid black;
  background-color: #737cbf;
}

.colorpicker .DarkBlue {
  background-color: #1591f7;
}

.colorpicker .LimeGreen {
  background-color: #31d35c;
}

.colorpicker .Orangeish {
  background-color: #f0ae22;
}

.colorpicker .Blackish {
  background-color: #0a0118;
}

.colorpicker .Pinkish {
  background-color: #d21e54;
}

.colorpicker .Purpleish {
  background-color: #5a0170;
}

.colorpicker .BrightCyan {
  background-color: #2bb7da;
}

@media (min-width: 992px) {
  .resumes .top {
    padding: 0px 25%;
  }
}

@media (max-width: 320px) {
  .resumes .top h1 {
    font-size: 26px;
  }
  .resumes .top p {
    font-size: 15px;
  }
}

.resume1 {
  font-family: 'Public Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume1 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume1 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume1 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume1 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume1 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume1 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume1 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume1 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume1 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume1 .LeftSide__bottom {
  background: #737cbfb4;
  padding: 25px;
}

.resume1 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume1 .RightSide__top {
  background: #737cbf81;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume1 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume2 {
  font-family: 'Baloo Tammudu 2', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume2 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume2 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume2 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume2 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume2 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume2 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume2 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume2 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume2 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume2 .LeftSide__bottom {
  background: #737cbf;
  padding: 25px;
}

.resume2 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume2 .RightSide__top {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume2 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume3 {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume3 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume3 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume3 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume3 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume3 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume3 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume3 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume3 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume3 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume3 .LeftSide__bottom {
  background: #737cbf;
  padding: 25px;
}

.resume3 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume3 .RightSide__top {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume3 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume4 {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume4 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume4 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume4 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume4 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume4 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume4 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume4 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume4 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume4 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume4 .LeftSide__bottom {
  background: #737cbf;
  padding: 25px;
}

.resume4 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume4 .RightSide__top {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume4 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume5 {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume5 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume5 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume5 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume5 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume5 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume5 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume5 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume5 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume5 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume5 .LeftSide__bottom {
  background: #737cbf;
  padding: 25px;
}

.resume5 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume5 .RightSide__top {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume5 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume6 {
  font-family: 'Roboto Slab', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume6 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume6 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume6 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume6 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume6 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume6 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume6 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume6 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume6 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume6 .LeftSide__bottom {
  background: #737cbf;
  padding: 25px;
}

.resume6 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume6 .RightSide__top {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume6 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume7 {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume7 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume7 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume7 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume7 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume7 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume7 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume7 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume7 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume7 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume7 .LeftSide__bottom {
  background: #737cbf;
  padding: 25px;
}

.resume7 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume7 .RightSide__top {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume7 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.resume8 {
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume8 h2 {
  font-weight: 500;
  margin-top: 0px;
}

.resume8 .LeftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume8 .LeftSide__top {
  background: #737cbf;
  padding: 25px;
}

.resume8 .LeftSide__top h1 {
  margin-top: 0px;
  border-bottom: 1.5px solid #2d314d;
}

.resume8 .LeftSide__top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume8 .LeftSide__top .contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.resume8 .LeftSide__top .contacts a:not(:last-child) {
  margin-bottom: 11px;
}

.resume8 .LeftSide__top .contacts a .MuiSvgIcon-root {
  height: 16px;
}

.resume8 .LeftSide__top .contacts a p {
  margin: 0px 0px 0px 7px;
}

.resume8 .LeftSide__bottom {
  background: #737cbf;
  padding: 25px;
}

.resume8 .RightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume8 .RightSide__top {
  background: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume8 .RightSide__bottom {
  background: white;
  padding: 25px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  color: #9698a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2d314d;
  padding: 5px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  text-decoration: none;
}

.footer .logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo img {
  height: 60px;
}

.footer .logo p {
  margin-left: 13px;
  font-family: 'Mate SC', serif;
  font-weight: 600;
  font-size: 24px;
}

.footer__links {
  margin: 14px;
}

.footer__links a {
  color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer__links a:not(:last-child) {
  margin-right: 15px;
}

.footer__links a:hover {
  color: #31d35c;
}

.footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .pro {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
  font-size: 18px;
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 25px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer .pro:hover {
  opacity: 0.6;
}

@media (min-width: 992px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */